@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}



<!DOCTYPE html>
<html>
<body>
    <section>


        @Html.GetGridHtml(Model, "grid")

        </section>
</body>
</html>