@model Umbraco.Web.Models.ContentModel
@{
    Layout = "Master.cshtml";

}



<!DOCTYPE html>
<html>
<body>
    <section>


        @Html.GetGridHtml(Model.Content, "grid")

    </section>
</body>
</html>