@using System.Web.Mvc.Html
@using Umbraco.Web
@using WebsiteProject.Models
@using WebsiteProject.Controllers

@{
                /**/

                var forgotPasswordModel = new ForgotPasswordModel();

                Html.EnableClientValidation();
                Html.EnableUnobtrusiveJavaScript();
}

@using (Html.BeginUmbracoForm<ForgotPasswordController>("ForgotPassword"))
{
    @Html.ValidationSummary("forgotPasswordModel", true)

    <div class="col-md-7 col-sm-7">
        <div class="navbar-link">
            <h2>Forgort Password</h2>
        </div>
    </div>

        @Html.TextBoxFor(m => forgotPasswordModel.Email, htmlAttributes: new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(m => forgotPasswordModel.Email, "", new { @style = "color: #FF3535; text-shadow: 1px 1px #000000" })
    <br />
        <input type="submit" class="form-control" name="submit" value="Send">
        }
