@using WebsiteProject.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<PersonGallery>

@{
    Layout = "master.cshtml";

}


<section id="work" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <br />
                    <br />
                    <h2><font color="#000000">Our members</font></h2>
                    <span class="line-bar">...</span>
                </div>
            </div>
            <br />
            <br />
            @foreach (var umbUser in Model.UmbUsers)
            {
                if (umbUser.Avatar != null)
                {
                    <div class="col-md-3 col-sm-6">
                        <!-- WORK THUMB -->

                        <div class="work-thumb">
                            <img src="@(umbUser.ImagemUrl)" class="img-responsive" alt="Work">

                            <div class="work-info">
                                <h3>@umbUser.Nome</h3>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-6">
                        <!-- WORK THUMB -->

                        <div class="work-thumb">
                            <img src="~/images/Testing_in_Progress.gif" class="img-responsive" alt="Work">

                            <div class="work-info">
                                <h3>@umbUser.Nome</h3>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</section>