@using System.Web.Mvc.Html
@using Umbraco.Web
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Layout = "Master.cshtml";
}

@if (Request.IsAuthenticated)
{


    <div class="container" style="padding-top: 60px;">
        <h1 class="page-header">Edit Profile</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block well well-sm">
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    This is an <strong>.alert</strong>. Use this to show important messages to the user.
                </div>
                <h3>Personal info</h3>
                <form method="post" action="@Url.Action("ChangeUsername", "Profile")" class="form-horizontal ajaxForm" role="form">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-lg-3 control-label">New Username:</label>
                        <input class="form-control" name="newusername" value="" type="text">
                        <label class="col-lg-3 control-label">Confirm Username:</label>
                        <input class="form-control" name="confirmusername" value="" type="text">
                        <input type="submit" value="Save Changes">
                    </div>
                </form>
                <div class="responseInfo">

                </div>
                @Html.ValidationSummary()
            </div>
        </div>
    </div>

}
else
{
    Response.Redirect("~/home");
}